name: daily_news

on:
  workflow_dispatch:
  schedule:
    # 东八区 (UTC+8), 所以要-8小时,也就是北京时间 8:30运行
    - cron: '30 12 * * *'

jobs:
  update:
    name: fetch_cctv_news
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      # - name: Install Playwright
      #   run: npx playwright install --with-deps
      # - run: npm install
      # - run: npm run colab
      - run: npm run index
      - run: git config --local user.email "github-actions[bot]@github.com"
      - run: git config --local user.name "github-actions[bot]"
      - run: git add .
      - run: git commit -m "AUTO UPDATE [bot]"
      - name: Push master changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
